In [3]:
import pandas as pd

In [19]:
def raiting_type(data):
    film_type = []
    for line in data.rating:
        if line >= 4.5:
            film_type.append('высокий рейтинг')
        elif 2 < line < 4.5:
            film_type.append('средний рейтинг')
        elif line <= 2:
            film_type.append('низкий рейтинг')
    data['class'] = film_type
    return data

In [21]:
data = pd.read_csv('ratings.csv', sep= r',', encoding='utf-8')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [23]:
data = raiting_type(data)

In [25]:
data.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг