In [1]:
import pandas as pd

In [5]:
data1=pd.read_csv('power.csv')
data1.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
only_baltic = data1[(data1['country']=='Estonia') | (data1['country']=='Lithuania') | (data1['country']=='Latvia') ]
only_baltic.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [21]:
result=only_baltic[(only_baltic['category']==4) | (only_baltic['category']==12) | (only_baltic['category']==21) & (only_baltic['year']<2010) & (only_baltic['year']>2005)]
print('Потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год  равно {0:.2f}'.format(only_baltic['quantity'].sum()))

Потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год  равно 117993409.09